
.main{
    text-align: center;
    background-image: url("assets/background.jpg");
    margin: auto;
    padding-top: 25px;
    padding-bottom: 55px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    width: 500px;
}

#heading{
    color: white;
}

.calculator{
    background-color: #4a3474;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    width: fit-content;
    margin: auto;
    
}

#values{
    background-color: #d5cfe6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border-radius: 10px;
}

#val1{
    margin-bottom: 2.5px;
}

#operators{
    background-color: #ffc3c3;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    border-radius: 10px;
}

#results{
    background-color:#d5cfe6;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    border: none;
    border-radius: 10px;
}